@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap");
@import "tailwindcss";

@theme {
   --color-primary: #5f6fff;
   /* --template-grid-cols-auto: repeat(auto-fill, minmax(200px, 1fr)); */
}

::-webkit-scrollbar {
   display: none;
}

* {
   font-family: "Outfit", sans-serif;
}
